@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-userButtonPopoverActionButton {
  color: #fff !important;
}

.cl-internal-16rjnjd {
  display: none !important;
}

.cl-button__github {
  background-color: #fff !important;
}

.cl-button__google {
  background-color: #fff !important;
}

.cl-button__facebook {
  background-color: #fff !important;
}

.str-video__avatar {
  width: 50px;
}

.str-video__video-placeholder__avatar {
  width: 100px;
}


.str-video__paginated-grid-layout__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 500px;
  gap: 50px;
}

.str-video__participant-view {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #484747;
  border-radius: 20px;


  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.screens, aside {
  background: rgb(32, 32, 32);
  background: linear-gradient(180deg, rgba(32, 32, 32, 1) 0%, rgba(54, 51, 51, 1) 100%);
}

.str-video__search-input__container,
.str-video__search-input__container--active {
  input {
    color: black;
    padding: 10px 25px;
    width: 100%;
    border-radius: 10px;
  }
}

.str-video__participant-listing {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.str-video__text-button {
  padding: 10px 25px;
  border-radius: 10px;
  background-color: #272727;
  border: none;
  margin-top: 15px;
}

.str-video__participant-listing-item {
  display: flex;
  justify-content: space-between;  
  gap: 10px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  .str-video__participant-listing-item__display-name {
    width: 200px;
    overflow: hidden;
  }
}

.str-video__participant-details {
  padding-top: 300px;
}

.str-video__participant-view,
.str-video__participant-view--no-video,
.str-video__participant-view--no-audio {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.str-video__video-placeholder {
  position: relative;
}


.str-video__paginated-grid-layout__wrapper {
  border-radius: 20px;
  width: 100%;
}

.cl-headerTitle {
  display: none !important;
}

.cl-dividerLine {
  background: #fff !important;
}

.cl-internal-180wb59 {
  display: none !important;
}

.cl-internal-1j7ahlv {
  width: 40px;
  height: 40px;
}

.cl-internal-11ttlho {
  display: none;
}

.cl-internal-1nn89fl {
  color: #a3a5aa;
}

.cl-internal-qs9rkf,
.cl-internal-ndrgk1 {
  color: white;
}

.cl-internal-lqfubk {
  display: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}